.phone{
	border: 1px solid black;
	width: 13%;
	height:200px;
	display: inline-block;
	margin:3px;
}
p:hover{
	color: green!important;		
}
p{
	text-align: center;
	color:orange;
}
.price{
	font-weight: bold;
	color: red;
}
div:hover{
	border-color:yellow;
}

