	* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.menu ul {
	position: absolute;
	top: 40px;left: 0;
}
.menu li {
	float: left;
	width: 150px;
	text-align: center;
	position: relative;
	background-color: lightblue;
	padding: 10px;
	color: black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}
.menu li:hover {
	background-color: lightgreen;
}
.menu ul > ul {
	left: 0px;top: 38px;
	display: none;
}
.menu ul ul ul {
	left: 170px;top: 0px;
}